In [2]:
import pandas as pd

In [3]:
result_path = 'result/eCommerce.csv'
df = pd.read_csv(result_path)
df

,mode,args,seed,timestamp,train_R2,train_adjusted_R2,train_MAE,train_RMSE,test_R2,test_adjusted_R2,test_MAE,test_RMSE,elapsed_time
0,autoML,{'n_generation': 6},1,250209_055146,0.959343,0.959243,4.201004,7.165466,-3.158106,-3.199276,12.959334,15.630306,415.155136
1,tpot,{'generations': 6},1,250209_055845,0.915808,0.915602,6.818831,10.311278,-0.647674,-0.663987,7.917463,9.839099,516.401942
2,auto-sklearn,{'target_time': 400},1,250209_060727,0.928541,0.928365,6.187828,9.499633,-1.894324,-1.922980,10.881718,13.040469,406.327757